.aboutpage {
    margin-top: 8%;
}
.aboutpage .text-center {
    background-color: rgba(165, 42, 42, 0.384);
}
.aboutpage .text-center .title-center{
    font-size:xx-large;
    color: rgb(54, 38, 38);
}
.aboutpage .text-center .p-center{
    font-size: x-large;
}