.contactpage {
    margin-top: 1%;
}
.caroussel-contact {
    margin-top: 2%;

}
.image{
    width: 1600px;
    height: 300px;
}
.caroussel-title{
    background-color: rgba(245, 245, 245, 0.39);
    color: rgba(163, 0, 0, 0.723);
    font-size: 20px;
    font-weight: 800;
}