.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(163, 0, 0, 0.723);
    padding: 0 50px 0 50px;
    color: bisque;
    font-size: 18px;
    font-weight: 600;
}

.navbar .logo img {
    width: 60px;
    height: 60px;
}

.navbar .bar ul {
    display: flex;
    justify-content: flex-start;
    gap: 20%;
    margin-top: 4%;
}

.navbar .bar ul li {
    list-style: none;
}

.navbar .bar ul li a {
    cursor: pointer;
    text-decoration: none;
    color: bisque;
}
.navbar  .GetStarted{
    width : 200px;
    border: 2px solid var(--secondaryColor);
    background-color: var(--secondaryColor);
    color: var(--primaryColor);
    border-radius: 50px;
    font-size: 20px;
    height: 40px;
}
.navbar  .GetStarted:hover {
    color : var(--thirdColor);
    background-color: var(--primaryColor);
    border: 2px solid var(--primaryColor);
}
.navbar .profile-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px
}

.navbar .profile-container .notification-container {
    cursor: pointer;
}

.navbar .profile-container .profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
.prof-container .notification-profile {
    height: 180px;
    width: 200px;
    background-color: rgba(255, 255, 255, 0.861);
    position: absolute;
    right: 40px;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}

.prof-container .notification-profile span {
    color: rgba(49, 49, 49, 0.783);
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    padding: 20px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
}
